.CurrentBook {
  &__title {
    cursor: pointer;
    transition: 300ms;

    &:hover {
      color: yellow;
    }
  }

  &__book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px;

    &--img {
      width: 100%;
    }
  }

  &__info {
    &--details {
      margin: 10px;
    }

    &--description {
      padding: 10px;
      border: 5px solid black;
    }
  }

  @media (max-width: 1024px) {
    &__book {
      margin: 30px;
      flex-direction: column;
    }
  }
}
