.CurrentBook {
  &__title {
    cursor: pointer;
    transition: 300ms;

    &:hover {
      color: yellow;
    }
  }

  &__book {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    // &--img {
    //   // max-width: 500px;
    // }
  }

  &__info {
    max-width: 2500px;
  }

  @media (max-width: 1024px) {
    &__book {
      &--img {
        max-width: 700px;
      }
    }
  }

  @media (max-width: 768px) {
    &__book {
      &--img {
        max-width: 500px;
      }
    }
  }


  @media (max-width: 560px) {

  }
}