.BookList {
  background-color: palevioletred;
  padding: 5px;

  &__count {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5px;
    justify-content: center;

    &--item {
      background-color: lightblue;
      width: 33%;

      @media (max-width: 1080px) {
        width: 40%;
        font-size: 24px;
      }

      @media (max-width: 768px) {
        width: 50%;
        font-size: 20px;
      }

      @media (max-width: 560px) {
        width: 75%;
        font-size: 15px;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 20px;

    &--button {
      cursor: pointer;
      font-size: 30px;
      border-radius: 50px;
      background-color: cadetblue;
      color: white;
    }

    @media (max-width: 560px) {
      &--button {
        font-size: 20px;
      }
    }
  }
}
