.BookList {
  background-color: palevioletred;
  padding: 5px;

  &__count {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    background-color: magenta;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5px;
    justify-content: center;

    &--item {
      background-color: lightgreen;
      width: 33%;

      @media (max-width: 1080px) {
        width: 40%;
        font-size: 24px;
      }

      @media (max-width: 768px) {
        width: 50%;
        font-size: 20px;
      }

      @media (max-width: 560px) {
        width: 75%;
        font-size: 15px;
      }
    }
  }
}
