.BookCard {
  padding: 20px;

  &__link {
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 250px;
  }

  &__info--title {
    cursor: pointer;
    transition: 300ms;

    &:hover {
      color: yellow;
    }
  }
}
