body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.App {
  font-size: 30px;
  margin: 0;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: mediumturquoise;
    padding: 10px 0;
  }

  &__title {
    text-align: center;
    margin: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    &--item {
      margin: 0 auto;
      background-color: lime;
      font-size: 30px;
      max-width: 500px;
      text-align: center;
      cursor: pointer;
    }
  }

  &__input {
    cursor: auto;
  }

  &__buttonUp {
    position: fixed;
    right: 25px;
    bottom: 25px;
    text-align: center;

    background-color: red;
    width: 35px;
    height: 35px;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    text-decoration: none;

    transition: 300ms;

    &:hover {
      background-color: yellow;
      color: red;
    }
  }

  @media (max-width: 768px) {
    font-size: 20px;

    &__form--item {
      font-size: 20px;
    }
  }


  @media (max-width: 560px) {
    font-size: 15px;

    &__form--item {
      font-size: 15px;
    }
  }
}
